./modules/
.DS_Store
packer/iso/*
packer/output*/
packer/*.box
packer/packer_cache/
terraform/**/.terraform/
terraform/**/.terraform*
*.log
*~
*.swp
*.webm
tmp
/issues/
*.iso
path-to.vmx
*secret*
**/*secret*
