./modules/
.DS_Store
packer/iso/*
packer/output-hyperv-iso/
packer/output-vmware/
packer/output-vmware-iso/
packer/output-vmware-vmx/
packer/output-virtualbox/
packer/output-virtualbox-iso/
packer/output-virtualbox-ovf/
packer/*.box
packer/packer_cache/
*.log
*~
*.swp
packer/output/
*.webm
tmp
/issues/
*.iso
path-to.vmx
